.default-green {
	color: #28a745;
}

#sidebar .list-group .list-group-item >a{
  color:black;
}

.jumbotron {
	min-height: 344px;
}

.float-right {
	float: right;
}

.default-blue {
	color: steelblue;
}

.default-orange {
	color: #f57d21;
}